<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index </title>
</head>
<body>

<h1>templates模板文件 Index.html </h1>

<div th:text="${userForm}"></div>


<form action="/valid/validate" method="post">
    用户id：<input type="text" name="id" />
    <br>
    用户名：<input type="text" name="name" />
    <br>
    入职日期：<input type="text" name="hiredate" />
    <br>
    邮箱：<input type="text" name="email" />
    <br>
    balance：<input type="text" name="balance" />
    <br>
    balance2：<input type="text" name="balance2" />
    <br>
    balance3：<input type="text" name="balance3" />
    <br>
    num4：<input type="text" name="num4" />
    <br>
    bornDate：<input type="text" name="bornDate" />
    <br>
    bornDate2：<input type="text" name="bornDate2" />
    <br>
    bornDate3：<input type="text" name="bornDate3" />
    <br>

    整数类型：<input type="text" name="total" /> <br><br>
    百分数类型：<input type="text" name="discount" /><br><br>
    货币类型：<input type="text" name="money" /><br><br>

    <input type="submit" value="提交" />
</form>


<!--
原文链接：https://blog.csdn.net/weixin_38192427/article/details/122270716
<form action="register" method="post">
    <input type="submit" value="提交" />
</form>-->
</body>
</html>
